.login {
	-fx-background-color: linear-gradient(to right, rgb(43, 192, 228), rgb(234, 236, 198));
}

.login-titulo {
	-fx-font-size: 24px;
}

.login-form-label {
	-fx-font-size: 16px;
}

.login-form-button {
	-fx-font-size: 16px;
}

