.conteudo {
	-fx-background-color: #071108;
	-fx-font-family: Oswald;
	-fx-font-size: 24px; 
}

.titulo {
	-fx-text-fill: #c7dbe6;
	-fx-font-size: 28px;
}

.numero {
	-fx-font-size: 36px;
	-fx-text-fill: #eee; 
}

.botoes {
	-fx-background-color: #364652;
	-fx-text-fill: #eee;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fix-min-height: 60px;
	-fx-background-radius: 10px; 
}

.verde {
	-fx-text-fill: #34ad3e;
}

.vermelho {
	-fx-text-fill: #c80d3c;
}